@media screen and (max-width:1000px){
    body{
        background: rgb(217, 177, 177);
    }
    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
    }
    nav ul{
        justify-content: center;
    }
}
    
